@media screen and (max-width:600px) {

    nav{
        height: 7%;
    }
    .logo h1{
        font-size: 4.5vw;
    }

    .links{
        width: 21%;
    }
    .links i{
        display: block;
    }

    .links h3{
        display: none;
    }
    .links button{
        font-size: 3.5vw;
    }

    .hero{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 40%;
    }
    .left h1{
        font-size: 8vw;
    }
    .left p{
        font-size: 2.5vw;
    }
    .left button{
        font-size: 3vw;
        margin-top: 3vw;
    }
    .right{
        width: 100%;
        height: 60%;
    }
    .right img{
        width: 100%;
        height: 100%;
    }
}

button:hover{
    cursor: pointer;
    border-radius: 0;
    color: rgb(63, 208, 159);
    background-color: transparent;
}
button{
    transition: all .3s linear;
}
.links h3:hover{
    cursor: pointer;
    border-bottom: 1px solid #8b8b8b;
}
.heading span{
    transition: all .2s linear;
}
.heading span:hover{
    font-size: 4.2vw;
}